{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %} Add your news {% endblock title %}

{% block h1 %}
<h1 class="card-title">Добавьте вашу новость</h1>
{% endblock h1 %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-primary" type="submit" value="Добавить пост">
</form>
{% endblock content %}

{% block sidewidget %}
<!-- Side widget-->
<div class="card mb-4">
    <div class="card-header">Действия</div>
    <div class="card-body">
        <a class="btn btn-primary" href="{% url 'post_create' %}">Добавить новый пост</a> <br>
        <p></p>
        <a class="btn btn-primary" href="{% url 'search' %}">Поиск</a> <br>
    </div>
</div>
{% endblock sidewidget %}